workflows/WhatsApp_Dolores.json 
{
  "createdAt": "2026-06-21T10:13:18.686Z",
  "updatedAt": "2026-06-22T06:46:49.961Z",
  "id": "sx2EbzFQd96att2P",
  "name": "WhatsApp Dolores",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nif (body && body.event === 'messages.upsert') {\n    const data = body.data;\n    const key = data?.key;\n    const message = data?.message;\n\n    // 1. Extract raw text from the message                                                                                                                                                                                                    \n    const text = message?.conversation || message?.extendedTextMessage?.text || \"\";\n    const fromMe = key?.fromMe;\n    const remoteJid = key?.remoteJid;\n\n    // 2. Check if the message starts with \"Dolores\" (case-insensitive)                                                                                                                                                                        \n    // Matches \"Dolores, hello\", \"dolores: hello\", \"Dolores hello\"                                                                                                                                                                             \n    const triggerMatch = text.match(/^dolores\\b[,:\\s]*/i);\n    const startsWithDolores = !!triggerMatch;\n\n    // 3. Condition: Must be sent by you AND start with \"Dolores\"                                                                                                                                                                              \n    const shouldProcess = fromMe && startsWithDolores;\n\n    // 4. Strip the \"Dolores\" prefix so the AI receives a clean prompt                                                                                                                                                                         \n    let cleanText = text;\n    if (startsWithDolores) {\n        cleanText = text.substring(triggerMatch[0].length).trim();\n    }\n\n    return {\n        json: {\n            shouldProcess: shouldProcess,\n            text: cleanText,\n            remoteJid: remoteJid,\n            senderName: data?.pushName || \"Self\"\n        }\n    };\n}"
      },
      "id": "0148a6c7-5b45-468d-a4e5-81499cbde977",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "84147335-2661-4295-9ef6-21ebac61fd09",
              "leftValue": "={{ $json.shouldProcess }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "24847d1c-1c8a-4c73-a045-31ae9fb0c319",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2020,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution-api.whatsapp.svc.cluster.local:8080/message/sendText/dolores",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "9AD07608-23F8-4363-AA0D-079E0BC3546A"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.conversation_id.split('@')[0] }}"
            },
            {
              "name": "text",
              "value": "=🤖 {{ $json.message.replace(/\\[emotion:[a-z]+\\]\\s*/gi, '') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "099efaf0-1302-40e7-8431-c2398e26640e",
      "name": "Send message to WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2460,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dolores-brain.dolores-brain.svc.cluster.local:8003/v1/chat",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.text }}"
            },
            {
              "name": "conversation_id",
              "value": "={{ $json.remoteJid }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0cf4a507-590f-4b4a-b483-3c500a1c20cc",
      "name": "ASk Dolores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        580
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-messages",
        "options": {}
      },
      "id": "2eabf7c7-2624-4491-9a59-dfc383c0938b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1580,
        560
      ],
      "webhookId": "6ebbcfa7-41c0-42f7-8f87-66ce9830ee94"
    }
  ],
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "ASk Dolores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ASk Dolores": {
      "main": [
        [
          {
            "node": "Send message to WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8ae3c6f9-4e91-421e-98ef-6983eeb8cfd1",
  "triggerCount": 1,
  "tags": []
}